html
  padding: 0
  margin : 0

body
  margin: 0
  padding : 0
  background : lightgrey
  color : #ffffff     

@font-face
  font-family: Akrobat
  src: url('../fonts/Akrobat-Regular.otf')

@font-face
  font-family: Akrobat-bold
  src: url('../fonts/Akrobat-Bold.otf')

@font-face
  font-family: Akrobat-extraBold
  src: url('../fonts/Akrobat-ExtraBold.otf')

@font-face
  font-family: Akrobat-semi
  src: url('../fonts/Akrobat-SemiBold.otf')      