@import "fonts.styl"

nav
  display: flex
  height: 50px
  justify-content: space-around
  align-items: center
  background: #333333

  .title
    padding-left: 40px 
    font-size: 1.8rem
    font-family: Akrobat

    @media (max-width: 760px)
      padding-left: 40px

  .menu
    flex: 0 0 600px
    
    @media (max-width: 760px)
      flex:1
      display:flex
      flex-direction: column
      justify-content: flex-end
      align-items: flex-end

    ul 
      display: flex
      align-items: center
      flex: 1
      justify-content: space-around

      @media (max-width: 760px)
        display: none

      li 
        list-style: none

        a
          font-size: 1rem
          color: white
          text-decoration: none
          transition: .7s
          font-family: Akrobat-extraBold

        a:hover
          color: #00aadd

  .iconContent
    margin-right: 35px
    .burgerIcon
        display:none
        @media (max-width: 760px)
          cursor: pointer
          display:block

  @media(max-width: 760px)
    justify-content: flex-start
    flex:1


.filter
  background: rgba(34,31,31, 0.5)
  width: 100%
  height: 700px
  display: flex
  justify-content: center

.banner
  display: flex
  justify-content: center
  align-items: flex-start
  font-size: 2.8rem
  font-family: Akrobat
  background-image: url('../images/background.jpeg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-color: #333333
  padding: 0
  margin : 0
  width: 100%
  height: 700px

footer
  display: flex
  background-color : #221f1f
  height: 400px
  color : #00aadd

  .footerContent
    flex:1
    display: flex
    flex-direction: column
    justify-content: space-around

    .principalContent
      display:flex
      justify-content: space-around
      align-items: center
      padding: 0 100px 0 100px

      .articulesContent
        flex: 1
        display: flex
        justify-content: space-between
        align-items: center

        .footSection
          display: flex
          flex-direction : column

          ul
            padding:0
            display:flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            li
              padding: 0
              margin: 0
              list-style: none
              a
                font-size: 16px
                padding: 0
                margin: 0
                text-decoration: none
                color: #00aadd
                font-family: Akrobat-extraBold  

    .ubication
      height: 200px
      display:flex
      flex-direction: row
      border: 1px solid green
      padding : 0 100px 0 100px

      .ubicationContent
        border:1px solid black           

.subtitles
  padding:0
  margin:0
  text-align: center
  color: #ffffff
  font-family: Akrobat-bold
  font-size: 24px

.newsletter
  display:flex
  flex-direction: column
  padding:20px
  width: 300px
  
  .newsContent
    padding-top:15px
    width: 300px
    display: flex
    justify-content: center
    height: 35px
    color: white

    .inputStyle
      flex:1
      height : 30px
      color: #f60756

    .inputStyle:focus 
      outline : none
    

    .newsButton
      height: 33px
      color: #ffffff
      background-color : #f60756
      box-shadow: 0 1px 0 #c30440, 0 2px 0 #c30440, 0 3px 0 #c30440
      border-style: none
      font-family: Akrobat-extraBold
      font-size: 18px
      transition: .5s
      outline:none

    .newsButton:hover
      cursor: pointer
      background-color : #c30440


.subscribeNewsletter
  display: flex
  float: right
  width: 500px
  height: 500px
  background-color: lightgrey